/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.woff") format("woff");
}

html {
  font-family: 'ScalaWebPro';
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
