/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.woff") format("woff");
}

@mixin font-size($size) {
  font-size: $size;
  line-height: 1.5;
}

* {
  box-sizing:border-box;
}

html {
  font-family: 'ScalaWebPro';
  -webkit-font-smoothing: antialiased;
}

.wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 1.5em;
}

small {
  color: #c9c9c9;
  font-family: 'ScalaWebPro-Ita';
  margin-bottom:2em;
  display: inline-block;
  font-size:12px;
}

.center {

}

// Type sizes

.type {
  margin:400px auto;

  &.xsmall{
    @include font-size(14px)
  }

  &.small{
    @include font-size(16px)
  }

  &.medium{
    @include font-size(18px)
  }

  &.large{
    @include font-size(21px)
  }

  &.xlarge{
    @include font-size(24px)
  }
}

// Screen sizes
@mixin breakpoint($width, $direction: min) {
  @media only screen and (#{$direction}-width: $width) {
    @content;
  }
}

@mixin normal-and-up(){
 @include breakpoint(320px) { @content }
}

@mixin large-and-up(){
  @include breakpoint(480px) { @content }
}

@mixin xlarge-and-up(){
  @include breakpoint(720px) { @content }
}



.screen.normal {
  .type.xsmall {
    @include normal-and-up{
      max-width: 400px;
    }
  }

  .type.small {
    @include normal-and-up{
      max-width: 450px;
    }
  }

  .type.medium {
    @include normal-and-up{
      max-width: 550px;
    }
  }

  .type.large {
    @include normal-and-up{
      max-width: 600px;
    }
  }

  .type.xlarge {
    @include normal-and-up{
      max-width: 700px;
    }
  }
}

.screen.large {

}

.screen.xlarge {

}



