/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.woff") format("woff");
}

@mixin font-size($size) {
  font-size: $size;
  line-height: 1.5;
}

// Global styles

* {
  box-sizing:border-box;
}

html {
  font-family: 'ScalaWebPro';
  -webkit-font-smoothing: antialiased;
  background-color: #1c1c1c;
}

.wrap {
  margin-top:80px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 1.5em;
  width: 320px;
  margin:0 auto;
  display: block;
  color:#fff;
}

p {
  margin-top: 0;
}

small {
  color: #808080;
  font-family: 'ScalaWebPro-Ita';
  display: block;
  font-size:12px;
}


// Type sizes

.type {

  &.xsmall{
    @include font-size(14px)
  }

  &.small{
    @include font-size(16px)
  }

  &.medium{
    @include font-size(18px)
  }

  &.large{
    @include font-size(21px)
  }

  &.xlarge{
    @include font-size(24px)
  }
}

// Screens
.screen {
  margin-top: 400px;
}

// Normal screen
@mixin normal-screen(){
  width:320px;
  height:480px;
  background-color: white;
  margin: 20px auto 400px;
  overflow: hidden;
  padding: 20px;
}

.screen.normal {
  small {
    width: 320px;
    margin:0 auto 2em;
    display: block;
  }

  .type.xsmall {
    @include normal-screen;
  }

  .type.small {
    @include normal-screen;
  }

  .type.medium {
    @include normal-screen;
  }

  .type.large {
    @include normal-screen;
  }

  .type.xlarge {
    @include normal-screen;
  }
}

// Large screen
@mixin large-screen(){
  width:480px;
  height:800px;
  background-color: white;
  margin: 20px auto 400px;
  overflow: hidden;
  padding: 40px;
}

.screen.large {
  small {
    width: 480px;
    margin:0 auto 2em;
    display: block;
  }

  .type.xsmall {
    @include large-screen;
  }

  .type.small {
    @include large-screen;
  }

  .type.medium {
    @include large-screen;
  }

  .type.large {
    @include large-screen;
  }

  .type.xlarge {
    @include large-screen;
  }

}

// Extra large screen
@mixin xlarge-screen(){
  width:1024px;
  height:768px;
  background-color: white;
  margin: 20px auto 400px;
  overflow: hidden;
  padding: 40px;
}

.screen.xlarge {
  small {
    width: 1024px;
    margin:0 auto 2em;
    display: block;
  }

  .type.xsmall {
    @include xlarge-screen;
  }

  .type.small {
    @include xlarge-screen;
  }

  .type.medium {
    @include xlarge-screen;
  }

  .type.large {
    @include xlarge-screen;
  }

  .type.xlarge {
    @include xlarge-screen;
  }
}



