@charset "UTF-8";
/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro;
  src: url("../fonts/ScalaWebPro.woff") format("woff"); }

/* first for IE 4–8 */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaWebPro-Ita;
  src: url("../fonts/ScalaWebPro-Ita.woff") format("woff"); }

/* first for IE 4–8 */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ScalaSansScWebPro;
  src: url("../fonts/ScalaSansScWebPro.woff") format("woff"); }

/* line 43, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
* {
  box-sizing: border-box; }

/* line 47, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
html {
  font-family: 'ScalaWebPro';
  -webkit-font-smoothing: antialiased; }

/* line 52, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
.wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px; }

/* line 58, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 1.5em; }

/* line 63, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
small {
  color: #c9c9c9;
  font-family: 'ScalaWebPro-Ita';
  margin-bottom: 2em;
  display: inline-block;
  font-size: 12px; }

/* line 77, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
.type {
  margin: 400px auto; }
  /* line 80, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .type.xsmall {
    font-size: 14px;
    line-height: 1.5; }
  /* line 84, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .type.small {
    font-size: 16px;
    line-height: 1.5; }
  /* line 88, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .type.medium {
    font-size: 18px;
    line-height: 1.5; }
  /* line 92, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .type.large {
    font-size: 21px;
    line-height: 1.5; }
  /* line 96, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .type.xlarge {
    font-size: 24px;
    line-height: 1.5; }

@media only screen and (min-width: 320px) {
  /* line 123, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .screen.normal .type.xsmall {
    max-width: 400px; } }
@media only screen and (min-width: 320px) {
  /* line 129, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .screen.normal .type.small {
    max-width: 450px; } }
@media only screen and (min-width: 320px) {
  /* line 135, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .screen.normal .type.medium {
    max-width: 550px; } }
@media only screen and (min-width: 320px) {
  /* line 141, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .screen.normal .type.large {
    max-width: 600px; } }
@media only screen and (min-width: 320px) {
  /* line 147, /Users/alexmiles/Dropbox/dev/readmill/android-typeset/source/stylesheets/all.scss */
  .screen.normal .type.xlarge {
    max-width: 700px; } }
