---
title: Android typesetting
---

<div class="wrap">
  <h1>Android Typeset</h1>

  <section class="center screen normal">
    <div class="type xsmall">
      <small>Extra mall — 14px</small>

      <p>I was called from these reflections by the sight of a freckled woman with yellow hair and a yellow gown, standing in the porch of the inn, under a dull red lamp swinging there, that looked much like an injured eye, and carrying on a brisk scolding with a man in a purple woollen shirt.</p>

      <p>"Get along with ye," said she to the man, "or I'll be combing ye!"</p>

      <p>"Come on, Queequeg," said I, "all right. There's Mrs. Hussey."</p>

      <p>And so it turned out; Mr. Hosea Hussey being from home, but leaving Mrs. Hussey entirely competent to attend to all his affairs. Upon making known our desires for a supper and a bed, Mrs. Hussey, postponing further scolding for the present, ushered us into a little room, and seating us at a table spread with the relics of a recently concluded repast, turned round to us and said&mdash;"Clam or Cod?"</p>

      <p>"What's that about Cods, ma'am?" said I, with much politeness.</p>

      <p>"Clam or Cod?" she repeated.</p>

      <p>"A clam for supper? a cold clam; is THAT what you mean, Mrs. Hussey?" says I, "but that's a rather cold and clammy reception in the winter time, ain't it, Mrs. Hussey?"</p>
    </div>

    <div class="type small">
      <small>Small — 16px</small>

      <p>I was called from these reflections by the sight of a freckled woman with yellow hair and a yellow gown, standing in the porch of the inn, under a dull red lamp swinging there, that looked much like an injured eye, and carrying on a brisk scolding with a man in a purple woollen shirt.</p>

      <p>"Get along with ye," said she to the man, "or I'll be combing ye!"</p>

      <p>"Come on, Queequeg," said I, "all right. There's Mrs. Hussey."</p>

      <p>And so it turned out; Mr. Hosea Hussey being from home, but leaving Mrs. Hussey entirely competent to attend to all his affairs. Upon making known our desires for a supper and a bed, Mrs. Hussey, postponing further scolding for the present, ushered us into a little room, and seating us at a table spread with the relics of a recently concluded repast, turned round to us and said&mdash;"Clam or Cod?"</p>

      <p>"What's that about Cods, ma'am?" said I, with much politeness.</p>

      <p>"Clam or Cod?" she repeated.</p>

      <p>"A clam for supper? a cold clam; is THAT what you mean, Mrs. Hussey?" says I, "but that's a rather cold and clammy reception in the winter time, ain't it, Mrs. Hussey?"</p>
    </div>

    <div class="type medium">
      <small>Medium — 18px</small>
      <p>I was called from these reflections by the sight of a freckled woman with yellow hair and a yellow gown, standing in the porch of the inn, under a dull red lamp swinging there, that looked much like an injured eye, and carrying on a brisk scolding with a man in a purple woollen shirt.</p>

      <p>"Get along with ye," said she to the man, "or I'll be combing ye!"</p>

      <p>"Come on, Queequeg," said I, "all right. There's Mrs. Hussey."</p>

      <p>And so it turned out; Mr. Hosea Hussey being from home, but leaving Mrs. Hussey entirely competent to attend to all his affairs. Upon making known our desires for a supper and a bed, Mrs. Hussey, postponing further scolding for the present, ushered us into a little room, and seating us at a table spread with the relics of a recently concluded repast, turned round to us and said&mdash;"Clam or Cod?"</p>

      <p>"What's that about Cods, ma'am?" said I, with much politeness.</p>

      <p>"Clam or Cod?" she repeated.</p>

      <p>"A clam for supper? a cold clam; is THAT what you mean, Mrs. Hussey?" says I, "but that's a rather cold and clammy reception in the winter time, ain't it, Mrs. Hussey?"</p>
    </div>

    <div class="type large">
      <small>Large — 21px</small>

      <p>I was called from these reflections by the sight of a freckled woman with yellow hair and a yellow gown, standing in the porch of the inn, under a dull red lamp swinging there, that looked much like an injured eye, and carrying on a brisk scolding with a man in a purple woollen shirt.</p>

      <p>"Get along with ye," said she to the man, "or I'll be combing ye!"</p>

      <p>"Come on, Queequeg," said I, "all right. There's Mrs. Hussey."</p>

      <p>And so it turned out; Mr. Hosea Hussey being from home, but leaving Mrs. Hussey entirely competent to attend to all his affairs. Upon making known our desires for a supper and a bed, Mrs. Hussey, postponing further scolding for the present, ushered us into a little room, and seating us at a table spread with the relics of a recently concluded repast, turned round to us and said&mdash;"Clam or Cod?"</p>

      <p>"What's that about Cods, ma'am?" said I, with much politeness.</p>

      <p>"Clam or Cod?" she repeated.</p>

    </div>

    <div class="type xlarge">
      <small>Extra large — 24px</small>

      <p>I was called from these reflections by the sight of a freckled woman with yellow hair and a yellow gown, standing in the porch of the inn, under a dull red lamp swinging there, that looked much like an injured eye, and carrying on a brisk scolding with a man in a purple woollen shirt.</p>

      <p>"Get along with ye," said she to the man, "or I'll be combing ye!"</p>

      <p>"Come on, Queequeg," said I, "all right. There's Mrs. Hussey."</p>

      <p>And so it turned out; Mr. Hosea Hussey being from home, but leaving Mrs. Hussey entirely competent to attend to all his affairs. Upon making known our desires for a supper and a bed, Mrs. Hussey, postponing further scolding for the present, ushered us into a little room, and seating us at a table spread with the relics of a recently concluded repast, turned round to us and said&mdash;"Clam or Cod?"</p>
    </div>
  </section>

  <!-- large screens are at least 640dp x 480dp -->
  <section class="center screen large">
    <div class="type xsmall"></div>
    <div class="type small"></div>
    <div class="type medium"></div>
    <div class="type large"></div>
    <div class="type xlarge"></div>
  </section>

  <!-- xlarge screens are at least 960dp x 720dp -->
  <section class="center screen xlarge">
    <div class="type xsmall"></div>
    <div class="type small"></div>
    <div class="type medium"></div>
    <div class="type large"></div>
    <div class="type xlarge"></div>
  </section>

</div>


